UCSDRayTracer/buildXcode/build/XCBuildData/1458a7bd520dc05ed7cfc17bee11e340.xcbuilddata/build-request.json
UCSDRayTracer/buildXcode/build/XCBuildData/1458a7bd520dc05ed7cfc17bee11e340.xcbuilddata/description.msgpack
UCSDRayTracer/buildXcode/build/XCBuildData/1458a7bd520dc05ed7cfc17bee11e340.xcbuilddata/manifest.json
UCSDRayTracer/buildXcode/build/XCBuildData/1458a7bd520dc05ed7cfc17bee11e340.xcbuilddata/target-graph.txt
UCSDRayTracer/buildXcode/build/XCBuildData/1458a7bd520dc05ed7cfc17bee11e340.xcbuilddata/task-store.msgpack

.DS_Store

UCSDRayTracer/buildXcode/UCSDRayTracer.xcodeproj/project.xcworkspace/xcuserdata/brendanmulcahey.xcuserdatad/UserInterfaceState.xcuserstate
UCSDRayTracer/buildXcode/build/XCBuildData/build.db

*.xcbkptlist

UserInterfaceState.xcuserstate